.cartel-advantages {
	&__container {
		padding-top: rem(35);
		padding-bottom: rem(35);
		@media screen and (max-width: $mbpMobile) {
			padding-top: rem(25);
			padding-bottom: rem(25);
		}
	}
	&__logo {
		max-width: rem(200);
		@media screen and (max-width: $mbpTablet) {
			max-width: rem(180);
		}
		@media screen and (max-width: $mbpMobile) {
			display: none;
		}
	}
	&__card {
		
	}
	&__footer{
		@media screen and (max-width: 500px) {
			display: flex;
			justify-content: center;
		}
	}
	&__request-btn {
		margin-bottom: rem(30);
	}
}
