.contacts {
	&__container {
		padding-top: rem(35);
		padding-bottom: rem(70);
		@media screen and (max-width: $mbpMobile) {
			padding-top: rem(25);
			padding-bottom: rem(50);
		}
	}
	&__title {
		text-align: center;
		margin-bottom: rem(50);
	}
	&__body {
		display: flex;
		align-items: center;
	}
	&__column {
		&:first-child {
			flex: 0 1 rem(462);
			margin-right: rem(51);
			@media screen and (max-width: $mbpMobile) {
				display: none;
			}
		}
		&:last-child {
			flex: 1 1 auto;
		}
	}
	&__img {
		width: 100%;
	}
	&__card {
	}
}
.contacts-card {
	min-width: rem(450);
	background-color: $--white;
	border-radius: rem(20);
	box-shadow: 0px 0px rem(40) 0px $--mediumShadow;
	padding: rem(60) rem(40) rem(10) rem(40);
	@media screen and (max-width: $mbpPc) {
		padding: rem(40) rem(30) rem(10) rem(30);
	}
	@media screen and (max-width: $mbpMobile) {
		min-width: rem(250);
		box-shadow: none;
		border-radius: none;
		padding: 0 rem(30);
	}
	@media screen and (max-width: $mbpSmallMobile) {
		padding: 0;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: rem(500);
	}
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: rem(-11) rem(-11);
		margin-bottom: rem(41);
		overflow: hidden;
	}
	&__item {
		margin: rem(11) rem(11);
	}
	&__item-link {
		display: flex;
		align-items: center;
	}
	&__item-link-icon {
		width: rem(24);
		height: rem(24);
		margin-right: rem(12.5);
		stroke: $--mainBlue;
	}
	&__item-link-text {
		font-size: rem(20);
		font-weight: 500;
		line-height: rem(23);
		letter-spacing: 0em;
		text-align: left;
	}
	&__callback-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__callback-form-title {
		font-size: rem(22);
		font-weight: 700;
		line-height: rem(25.58);
		letter-spacing: 0em;
		text-align: left;
		color: $--mainBlue;
		margin-bottom: rem(30);
	}
	&__callback-form-field {
		width: 100%;
		margin-bottom: rem(20);
		&:nth-last-child(2) {
			margin-bottom: rem(30);
		}
	}
	&__callback-form-msg {
		font-size: rem(18);
		line-height: rem(22);
		letter-spacing: 0em;
		text-align: center;
		color: $--green;
		opacity: 0;
		transition: opacity 0.3s;
		&.show {
			opacity: 1;
		}
	}
	&__callback-form-field-error {
	}
	&__callback-form-field-input {
	}
	&__callback-form-btn {
		margin-bottom: rem(15);
	}
}
