$--white: white;
$--lightGray: #F2F4F8;
$--additionGray: #E4E7EE;
$--mainBlue: #1777FB;
$--darkBlue: #2059A9;
$--textMain: #1B1F25;
$--extraLightBlue: #D8EBFF;
$--btnDarkShadow: #0045A429;
$--mediumShadow: #ADC4DE40;
$--lightGreen: #33B870;
$--ultraLightBlue: #EEF6FF;
$--lightBlue: #60A6FF;
$--green: #0FC262;
$--placeholder: #848B98;
$--inputBg: #EAEEF6;
$--footerBg: #E2F0FF;
$--red: #FF5823;